body{
    background-color: whitesmoke;
}


/*  هون الشغل الجديد   */

.allimg{
  display: flex;
  width: 1000px;
  margin-left: 100px;
  background-color: white;
  border: 5px;
  border-radius: 10px;
  height: 60px;

  
}


.locatio{
  margin-top: 9px;
  
}

.vline {
  display: inline-block;
  width: 2px;
  height: 50px;
  background-color: #00000025;
  margin-left: 90%;
  margin-top: -50px;
  display: flex;
}


.search{
  font-size: 60px;
  margin-top: -20px;
  
}







.all{

    margin-left: 90px;
    margin-top: 180px;
}




.Easily{
    color:rgb(34, 88, 238) ;

    margin-left: 190px;
    margin-top: -50px;
}

.شحطة{
   
     position: absolute;
  left: 0;
  bottom: 140px;
  width: 10%;
  height: auto;
  margin-left: 160px;
}
.headline-container {
  position: relative;
  font-size: 20px;
}


/*       ********     ***     */


.im2{

margin-left: 20px;

}

.im3 {
  position: relative;
 margin-left: 500px;
 top: -250px;
 
}

.im4{
    position: absolute;
    margin-left: 90px;
top: 860px;    
}