.part5back{

    background-color: aliceblue;
}


.part5{

background-color: white;

height: 600px;

}


/*    *******************     */


.finalimg{
    width: 560px;
}


.butto{
    border: 2px;
    border-radius: 15px;
    color:rgb(69, 69, 255) ;
   
    margin-left: 20px;
}


.buttoh1{
    font-size: 40px;
}




.colerfree{
    color:rgb(69, 69, 255) ;
}


/*  **********************   */

.buttonfinal{

    margin-top: -380px;
    margin-left: 130px;
}

/*   ****************       */

.iphone{

    margin-left: 700px;
    margin-top: -300px;
}

.iphone2{
display: flex;
 margin-left: 855px;
    margin-top: -410px;

}




/*       النهاااااااااااية  خلصص   */


.finshall{
width: 100%;
border: 6px;
border-radius: 15px;
background-color:rgba(27, 27, 78, 0.973) ;

}